<%= provide(:title, "Home") %>

<div class="row">
	<div class="card-container">
		<h1 class="text-center">What Local Elections Affect Me?</h1>

		<div class="form-group">
			<%= form_tag(welcome_index_path, method: :get) do %>
				<%= text_field_tag "address", "Your address", class: "form-control" %>
			  <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
		    <br>
		    <div><%= submit_tag 'Find Local Elections', class: "btn btn-primary center-block" %></div>
			<% end %>
		</div>
	</div>
</div>
