<h1>Vote Early</h1>
<br>
<p>Add you address so we know where you live</p>

<%= form_tag(welcome_index_path, method: :get) do -%>
  <input type="text" class="form-control" placeholder="Address" name='address'>
  <div><%= submit_tag 'Save' %></div>
<% end -%>
