.header {
	text-align: center;
	height: 120px;
}

.header > h1 {
	font-size: 4em;
}

.header-logo {
	height: 80px;
	float: left;
}

.district-image {
	float: right;
}

.emph {
	font-size: 2em;
	font-weight: 700;
}